body {
  margin: 0;
  padding: 0;
  background: #ececec; }

.content {
  margin: 10rem; }

.artist-info {
  margin: 2rem 5rem; }
  .artist-info h1 {
    margin: 1rem 0; }
  .artist-info h6 {
    margin: 0; }
  .artist-info .header {
    height: 20vh;
    background: grey; }

.disabled {
  display: none; }

.card {
  padding: 1rem;
  background: white; }
