body {
  margin: 0;
  padding: 0;
  background: #ececec; }

.content {
  margin: 10rem;
  /* label color */
  /* label focus color */
  /* label underline focus color */
  /* valid color */
  /* invalid color */
  /* icon prefix focus color */ }
  .content .input-field label {
    color: #000; }
  .content .input-field input[type=text]:focus + label {
    color: #000; }
  .content .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000; }
  .content .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000; }
  .content .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000; }
  .content .input-field .prefix.active {
    color: #000; }

.artist-info {
  margin: 2rem 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px; }
  .artist-info .header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5; }
    .artist-info .header img {
      margin-top: 2rem;
      margin-bottom: -2rem;
      border-radius: 200px; }
    .artist-info .header .img {
      background: #467979; }
    .artist-info .header .chip {
      margin-bottom: 1rem;
      background: teal;
      color: white; }
  .artist-info .about {
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 9; }
  .artist-info .similar {
    padding: 1rem;
    grid-column-start: 9;
    grid-column-end: 13; }
    .artist-info .similar .chip {
      background: teal;
      color: white; }

.disabled {
  display: none; }

.card {
  margin: 0; }
  .card h6 {
    margin: 0; }
  .card hr {
    margin-bottom: 2rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), teal, rgba(0, 0, 0, 0)); }
