<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.html%>
</head>
<body>
    <% if (artist) { %>
        <div class="artist-info">

            <div class="card header">
                <div class="img">
                    <img src="<%= artist.artist.image[2]['#text']%>" alt="">
                </div>
                <h1><%= artist.artist.name %></h1>

                <% for(var i=0; i< artist.artist.tags.tag.length; i++ ){ %>
                    <div class="chip"><%= artist.artist.tags.tag[i].name %></div>   
                <% } %>
            </div>

            <div class="card about">
                <h6><b>ABOUT</b></h6>
                <hr>
                
                <p><%= artist.artist.bio.summary %></p>
            </div>

            <div class="card similar">
                <h6><b>SIMILAR ARTISTS</b></h6>
                <hr>
                <% for(var x=0; x< artist.artist.similar.artist.length; x++ ){ %>
                    <div class="chip">
                        <img src="<%= artist.artist.similar.artist[x].image[0]['#text'] %>">
                        <%= artist.artist.similar.artist[x].name %>
                    </div>  
                <% } %> 
            </div>
        </div>
    <% } %> 
</body>
</html>

<!-- <%= artist.artist.name %> -->
<!-- <%= artist.artist.bio.summary %> -->
<!-- <%= artist.artist.image[2]['#text']%> -->
<!-- <%= artist.artist.tags.tag[0].name %> -->
<!-- artist.similar.artist[0].name -->
<!-- <% if (artist) { %>
<% } %> -->

<!-- <div class="col s12">
    <div class="card horizontal">
        <div class="card-image">
            <img src="<%= artist.artist.image[3]['#text'] %>">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h1><%= artist.artist.name %></h1>
                <h6>Listeners: <b><%= artist.artist.stats.listeners %></b> Playcount: <b><%= artist.artist.stats.playcount %></b></h6>
                <hr>
                <h6><b>About:</b></h6>
                <p><%= artist.artist.bio.summary %></p>
            </div>
        </div>
    </div>
</div> -->