<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.html%>
</head>
<body>
    <% if (artist) { %>
        <div class="artist-info">

            <div class="card header">
                <div class="img">
                    <img src="<%= artist.artist.image[2]['#text']%>" alt="">
                </div>
                <h1><%= artist.artist.name %></h1>

                <h6><a href="<%= artist.artist.url%>">last.fm page</a></h6>
            </div>

            <div class="card about">
                <h6><b>ABOUT</b></h6>
                <p><%= artist.artist.bio.summary %></p>
            </div>

    
        </div>
    <% } %> 
</body>
</html>

<!-- <%= artist.artist.name %> -->
<!-- <%= artist.artist.bio.summary %> -->
<!-- <%= artist.artist.image[2]['#text']%> -->
<!-- <%= artist.artist.tags.tag[0].name %> -->
<!-- <% if (artist) { %>
<% } %> -->

<!-- <div class="col s12">
    <div class="card horizontal">
        <div class="card-image">
            <img src="<%= artist.artist.image[3]['#text'] %>">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h1><%= artist.artist.name %></h1>
                <h6>Listeners: <b><%= artist.artist.stats.listeners %></b> Playcount: <b><%= artist.artist.stats.playcount %></b></h6>
                <hr>
                <h6><b>About:</b></h6>
                <p><%= artist.artist.bio.summary %></p>
            </div>
        </div>
    </div>
</div> -->