<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.html%>
</head>
<body>
    
    <div class="content">
        
        <h1><b>GET ARTIST INFO</b></h1>
        <h6>With the help of last.fm API you can get information about your favourite band/artist in no time.</h6>

        <nav>
            <div class="nav-wrapper">
                <form method="post" action="/post">
                    <div class="input-field">
                        <input id="artist_name" type="search" name="artistName" required>
                        <label class="label-icon" for="artist_name"><i class="fas fa-search"></i></label>
                    </div>
                </form>
            </div>
        </nav>

        <!-- <form method="post" action="/post">
            <div class="input-field">
                <input id="artist_name" type="text" name="artistName" class="validate">
                <label for="artist_name">Type the name here and hit enter!</label>
                <input type="submit" value="submit" class="disabled">
            </div>
        </form> -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>